.app-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: var(--primary-1);
    border:none;
    font-family: inherit;
    font-size: inherit;
    border-radius: 0.75rem;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }

    img {
        margin-right: 1rem;
    }

    .app-button-text {
        font-weight: 700;
        color: white;
    }
}
