.quantity-select {
    display: flex;
    justify-content: center;
    align-items: stretch;

    & > * {
        padding: 1rem;
        display: inline-block;
        background-color: var(--neutral-4);
    }

    .quantity-value {
        font-weight: 700;
        flex-grow: 2;
        text-align: center;
    }

    .quantity-button {
        border: none;
        &:hover {
            cursor: pointer;
        }
    }

    $icon-radius: 0.75rem;

    .quantity-minus {
        border-radius: $icon-radius 0 0 $icon-radius;
    }

    .quantity-plus {
        border-radius: 0 $icon-radius $icon-radius 0;
    }
}
